{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <div class="container">
      <div class="row">
          <div class="col-3 text-center border bg-white border-dark">
              <br>
              Round # {{roundNo_display}} <br>
              Endowment: {{ endowment_display }} <br><br>
          </div>

          <div class="col text-center border bg-white border-dark">
              <br>
              Probability that Asset A will pay: {{ probA_display }} <br>
              Rate of Return for Asset A: {{ returnA_display }} <br><br>
          </div>

          <div class="col text-center border bg-white border-dark">
              <br>
              Probability that Asset B will pay: {{ probB_display }} <br>
              Rate of Return for Asset B: {{ returnB_display }}<br><br>
          </div>
      </div>
      <div class = "row">
          <div class="col-7 text-center border border-dark bg-white">
              <p>
              <div class = "row">
                  <div class = "col-8 text-center bg-white ">
                    <br>How much money do you want to keep today?<br>
                </div>
                <div class = "col bg-white">
                    <br>{{ formfields 'savings' label="HelloWorld!"}} <br>
                </div>

              </div>
              {% next_button %}
              </p>
          </div>
      </div>
    </div>

{% endblock %}
